$fuente: Arial,
Helvetica,
sans-serif;

$color-headers: rgb(27, 27, 31);

$background-color: #f1f1f1;

$breakpoint-tablet: 768px;

$breakpoint-cel: 600px;

.container {
    display: flex;
    justify-content: center;
    align-items: center
}
  
::ng-deep formulario-registro-obra {
    margin: 20px;

  }

.card {
    margin: 30px;
    border-radius: 1em;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    .card-body{
        padding: 40px;
    }
    .card-header {
      text-align: center;
      width: 100%;
      color: #ffffff;
      font-family: $fuente;
      font-size: 50px;
      background-color: $color-headers;
    }
}

.ubicacion-table {
    width: 100%;
}

.direccion input{
    height: 30px;
    text-align: center;
}

.mapa {
    width: 100%;
    height: 30vh;
}

.label-cliente{
  font-size: 18px;
  font-family: $fuente;
  font-weight: bold;
}

.boostrap-select{
  padding:3px 0px 8px 0px;
  text-align: center;
  width: 100%;
  select{
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }
}


.mat-form-field mat-label{
    color: rgb(134, 134, 134)
}

h2{
    font-size: 35px;
}




::ng-deep .mat-select-value{    
     
    font-size: 120%;
    background-color: $background-color;
    font-style:italic;
    height: 10%;
    color: black!important;
    font-style: inherit;

}


@media (max-width: $breakpoint-tablet) {

  .label-cliente{
    font-size: 15px;
    font-family: $fuente;
    font-weight: bold;
  }

  .boostrap-select{
    text-align: center;
    width: 100%;
    select{
      width:75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

    .card {
        margin: 30px;
        border-radius: 1em;
        background-color: #f1f1f1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .card-header {
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-family: $fuente;
        font-size: 35px;
        background-color: $color-headers;
        }
    }
}

@media (max-width: $breakpoint-cel) {

  .label-cliente{
    font-size: 13px;
    font-family: $fuente;
    font-weight: bold;
  }

  .boostrap-select{
    text-align: center;
    width: 100%;
    select{
      width:100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

    .card {
        margin: 30px;
        border-radius: 1em;
        background-color: #f1f1f1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .card-header {
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-family: $fuente;
        font-size: 25px;
        background-color: $color-headers;
        }
    }

}
