<div class="animated fadeIn app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form autocomplete="off" [formGroup]="comprarMaterialForm">

                                <h1>Comprar {{nombreMaterial}}</h1>
                                <p class="text-muted">
                                    Complete el formulario para realizar el pedido
                                </p>

                                <div class="input-group mb-3">
                                    
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                        
                                    </div>

                                    <select formControlName="proveedor" class="form-select" aria-label="Default select example">
                                        <option  *ngFor="let proveedorLista of proveedores "
                                        [value]="proveedorLista.proveedor_id"
                                        (click)="setValorMaterial()"
                                        >
                                        {{proveedorLista.proveedor_nombre}}</option>
                                      </select>
                                </div>

                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-building"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Precio"
                                        autocomplete="precio" formControlName="precio" required />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-building"></i></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Unidades" autocomplete="unidades"
                                        formControlName="unidades" required />
                                </div>
                                

                                    <button type="button" class="btn btn-block btn-success" (click)="comprarMaterial()"
                                        [disabled]="!comprarMaterialForm.valid">
                                        Realizar pedido
                                    </button>
                                <button type="button" class="btn btn-block btn-danger">
                                    Cancelar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>