.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// BOTONES
@media screen and (max-width: 800px) {
  .btn-volver {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .tarjeta-ova {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .btn-volver {
    width: 100%;
  }

  .tarjeta-ova {
    padding: 10px;
    padding-top: 20px;
  }
}

.btn-volver {
  width: 20%;
}

button.btn.add::before {
  font-family: fontAwesome;
  content: "\f060\00a0";
}

.descargar-ova {
  background-color: orange;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-color: orange;
}

.descargar-ova:hover {
  background-color: rgb(255, 192, 74);
  color: white;
  border-color: rgb(255, 192, 74);
  transition: 0.3s ease-in-out;
  transform: translateY(-0.25em);
}

.link-ova {
  background-color: rgb(0, 54, 170);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-color: rgb(0, 54, 170);
}

.link-ova:hover {
  background-color: rgb(0, 174, 255);
  color: white;
  border-color: rgb(0, 174, 255);
  transition: 0.3s ease-in-out;
  transform: translateY(-0.25em);
}

// NAV
.nav-tabs {
  border-bottom: 2px solid grey;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: 1px solid grey;
  color: gray;
}

.nav-tabs .nav-link.active {
  color: #000000;
  border-radius: 0;
  border-bottom: 2px solid rgb(0, 54, 170);
}

.tab-content {
  border: none;
}

// INFO OVA

.informacion-ova {
  background-color: #eaf3fa;
  border-radius: 5px;
}

.rating {
  font-size: 25px;
  border-radius: 2px;
  color: orange;
}
