<div class="container mt-3 p-2 centering">

  <h1 class="card-title "> Ova: {{ova.title}}</h1>
  <div class="card text-center rounded-3 p-5">
    <!-- IMAGEN -->
    <!-- boton descargar ova -->
    <img src="../../assets/img/ovas/11070.jpg" class="card-img-top p-5" alt="" width=10% height=10% />
    <!-- FIN IMAGEN -->

    <!-- INFORMACION OVA -->
    <div class="row mt-3 m-2">

      <div class="col-6 text-left">



        <ng-container *ngIf="ova.ovaLink">
          <p>
            <strong>Link:</strong>
            <span>
              <i>{{ ova.ovaLink }}</i>
            </span>
          </p>
        </ng-container>

        <p>
          <strong>Descripcion:</strong>
          <span>
            <i>{{ ova.description }}</i>
          </span>
        </p>
        <p>
          <strong>Publisher:</strong>
          <span>
            <i>{{ ova.publisher }}</i>
          </span>
        </p>
        <p>
          <strong>Contributor:</strong>
          <span>
            <i>{{ ova.contributor }}</i>
          </span>
        </p>
        <p>
          <strong>Date:</strong>
          <span>
            <i>{{ ova.date }}</i>
          </span>
        </p>
        <p>
          <strong>Creator:</strong>
          <span>
            <i>{{ ova.creator }}</i>
          </span>
        </p>
        <p>
          <strong>Language:</strong>
          <span>
            <i>{{ ova.language }}</i>
          </span>
        </p>
        <p>
          <strong>Source:</strong>
          <span>
            <i>{{ ova.source }}</i>
          </span>
        </p>
      </div>
    </div>
    <!-- FIN INFORMACION OVA -->
    <div class="row"></div>
    <div class="centering">
      <button (click)="downloadOva()" class="btn btn-success col-4">
        Descargar
      </button>
    </div>
  </div>
</div>