<app-header
  [navbarBrandRouterLink]="['/Ovas']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/brand/logo.png',
    width: 140,
    height: 80,
    alt: 'Logo empresa'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/brand/ebook.png',
    width: 30,
    height: 30,
    alt: 'Logo'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-4">
      <a class="nav-link" href="#/Ovas">
        <i class="icon-home pr-1"></i>
        Inicio
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <button class="btn btn-primary" (click)="installByUser()">
        Install App
      </button>
      <button type="button" class="btn btn-danger" (click)="cerrarSesion()">
        CERRAR SESIÓN
      </button>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar
    #appSidebar
    [fixed]="true"
    [display]="'lg'"
    [minimized]="sidebarMinimized"
  >
    <app-sidebar-nav
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="appSidebar.minimized"
    ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->

  <main class="main">
    <div class="contenedor-componentes">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
