<div class="container mt-4">

  <div class="">
    <div class="input-group">
      <div class="form-outline">
        <input type="search" (input)="change($event)" [(ngModel)]="filter" class="form-control" />
        <label class="form-label" for="form1">Filtrar por:</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "filter" (change)="clickRadio($event)"  [(ngModel)]="filterType" class="custom-control-input" id="radioFilterByTitle" value="1" type="radio">
                <label class="custom-control-label" for="radioFilterByTitle">titulo</label>
              </div>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "filter" (change)="clickRadio($event)"  [(ngModel)]="filterType" class="custom-control-input" id="radioFilterByPublisher" value="2"
                  type="radio">
                <label class="custom-control-label" for="radioFilterByPublisher">publicador</label>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "filter" (change)="clickRadio($event)"  [(ngModel)]="filterType" class="custom-control-input" id="radioFilterBySubject" value="3"
                  type="radio">
                <label class="custom-control-label" for="radioFilterBySubject">Tema</label>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "filter" (change)="clickRadio($event)"  [(ngModel)]="filterType" class="custom-control-input" id="radioFilterCreator" value="4"
                  type="radio">
                <label class="custom-control-label" for="radioFilterCreator">Creador</label>
              </div>
            </div>
          </div>


        </div>
        <label class="form-label" for="form1">Ordenar por:</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "order" (change)="clickOrder($event)"  [(ngModel)]="orderBy" class="custom-control-input" id="radioOrderByRateAsc" value="1" type="radio">
                <label class="custom-control-label" for="radioOrderByRateAsc">Rating (menor a mayor)</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "order" (change)="clickOrder($event)"  [(ngModel)]="orderBy" class="custom-control-input" id="radioOrderByRateDesc" value="2" type="radio">
                <label class="custom-control-label" for="radioOrderByRateDesc">Rating (mayor a menor)</label>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "order" (change)="clickOrder($event)"  [(ngModel)]="orderBy" class="custom-control-input" id="radioOrderByDateAsc" value="3" type="radio">
                <label class="custom-control-label" for="radioOrderByDateAsc">Fecha (menor a mayor)</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="custom-control custom-radio mb-3">
                <input name= "order" (change)="clickOrder($event)"  [(ngModel)]="orderBy" class="custom-control-input" id="radioOrderByDateDesc" value="4" type="radio">
                <label class="custom-control-label" for="radioOrderByDateDesc">Fecha (mayor a menor)</label>
              </div>
            </div>
          </div> 
        </div>

      </div>
    </div>

  

    <div *ngFor="let ova of ovas">
      <div class="column">
        <div class="card rounded-3">


          <img src="../../assets/img/ovas/bannerOvas.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ ova.title }}</h5>
            <p class="card-text">{{ ova.description }}</p>
            <ngb-rating class="rating" [(rate)]="ova.rating" (hover)="hovered = $event" (leave)="hovered = 0"
              [readonly]="true" [max]="5">
            </ngb-rating>
            <strong>{{ ova.rating | number: "1.1-1" }}</strong>
            <hr />
            <pre></pre>

            <a class="btn btn-primary text-white" (click)="detallarOva(ova.idOva)">Ver Ova</a>
          </div>
        </div>
      </div>
    </div>
  </div>