<div class="container mt-4">
  <div *ngFor="let ova of Ovas">
    <div class="column">
      <div class="card rounded-3">
        <img src="../../assets/img/ovas/11070.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ ova.title }}</h5>
          <p class="card-text">{{ ova.description }}</p>
          <ngb-rating [(rate)]=ova.rating (hover)="hovered=$event" (leave)="hovered=0" [readonly]=true [max]="5">
          </ngb-rating>
          
<b>{{ova.rating}}</b>
          <hr>
          <pre>
</pre>

          
          <a class="btn btn-primary" (click)="detallarOva(ova.idOva)">Ver Ova</a>

        </div>
      </div>
    </div>
  </div>
</div>