<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/save}" th:object="${ova}" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3>Modulo Ova</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>title</label>
                        <input th:field="*{title}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>creator</label>
                        <input th:field="*{creator}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>subject</label>
                        <input th:field="*{subject}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>description</label>
                        <input th:field="*{description}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>publisher</label>
                        <input th:field="*{publisher}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>contributor</label>
                        <input th:field="*{contributor}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>date</label>
                        <input th:field="*{date}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>type</label>
                        <input th:field="*{type}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>format</label>
                        <input th:field="*{format}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>identifier</label>
                        <input th:field="*{identifier}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>source</label>
                        <input th:field="*{source}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>language</label>
                        <input th:field="*{language}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>relation</label>
                        <input th:field="*{relation}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>coverage</label>
                        <input th:field="*{coverage}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>rights</label>
                        <input th:field="*{rights}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>rating</label>
                        <input th:field="*{rating}" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>